@model InternshipProjectMini.Models.PermissionViewModel

<h1>Permissions</h1>
<br />
<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="permission" method="post" asp-action="Update" class="d-inline">
            <input asp-for="@Model.RoleId" type="hidden" />
            @foreach (var module in Model.Modules)
            {
                <h2>@module.ModuleName</h2>
                <table class="table table-striped" id="permissionTable">
                    <thead>
                        <tr>
                            <th>
                                Permission
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var permission in module.Permissions)
                        {
                            <tr>
                                <td>
                                    <input asp-for="@permission.Value" type="hidden" />
                                    @permission.Value
                                </td>
                                <td>
                                    <div class="form-check m-1">
                                        <input asp-for="@permission.Selected" class="form-check-input" />
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <div class="col-sm-12" style="padding: 20px 20px 0px 0px">
                <button type="submit" id="save" class="btn btn-success">
                    <i class="fa fa-check"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
